<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trainee Class List</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../../css/css.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<th:block th:include="/common/_header"></th:block>
	
	<article style="padding: 15px; margin-left: 250px">
		<span><h4>Trainee List</h4></span><br> <span><b>ClassID:
		</b><b style="color: red" th:text="${class.classID}"> </b> </span><br> <span><b>Class Name:
		</b><b style="color: red"  th:text="${class.className}"></b></span>

		<table class="table table-bordered "  style="width:80%;height:40px " >
			<thead>
				<th>Number</th>
				<th>Trainee ID</th>
				<th>Trainee Name</th>
			</thead>
			<tbody>
				<th:block th:with='count=1'></th:block>
				<tr th:each="class ,iterStat  : ${classs}">
					<td th:text="${iterStat.count}"></td>
					<td th:text="${class[1]}"></td>
					<td th:text="${class[2]}"></td>
				</tr>
			</tbody>

		</table>
		<div  style="margin-left: 900px " class="form-group">
			<a th:href="@{/trainee/trainee_class/page/1}"
				class="btn btn-default"
				style="background-color: darkorange; color: white; font-size: 19px">Back
			</a>
		</div>
		<div>
			<ul class="pagination">
				<li><a>Tổng số: [[${totalItems}]]</a></li>
				<li
					th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
					<a th:if="${currentPage > 1}"
					th:href="@{'/trainer/trainer_class_list/page/' + ${1}}">First</a> <a
					th:unless="${currentPage > 1}">First</a>
				<li>
				<li
					th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
					<a th:if="${currentPage > 1}"
					th:href="@{'/trainer/trainer_class_list' + ${currentPage - 1}}">Previous</a>
					<a th:unless="${currentPage > 1}">Previous</a>
				</li>
				<li th:each="i: ${#numbers.sequence(1, totalPages)}"
					th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
					<a th:if="${currentPage != i}"
					th:href="@{'/trainer/trainer_class_list/page/' + ${i}}"
					th:text="${i}"></a> <a th:unless="${currentPage != i}"
					th:text="${i}"></a>
				</li>
				<li
					th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
					<a th:if="${currentPage < totalPages}"
					th:href="@{'/trainer/trainer_class_list/page/' + ${currentPage + 1}}">Next</a>
					<a th:unless="${currentPage < totalPages}">Next</a>
				</li>
				<li
					th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
					<a th:if="${currentPage < totalPages}"
					th:href="@{'/trainer/trainer_class_list/page/' + ${totalPages}}">Last</a>
					<a th:unless="${currentPage < totalPages}">Last</a>
				</li>
			</ul>
		</div>
	</article>
	
	<th:block th:include="/common/_footer"></th:block>
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>
