<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header>
		<div>
			<img class="logo" src="../image/r2s.com_.vn_.png" />
		</div>
		<br>
		<div class="menu-grid">
			<div>
				<nav style="background-color: darkorange">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link" href="#">
								HOMEPAGE </a></li>
						<li class="nav-item"><a class="nav-link" href="#">
								ASSIGNMENT</a></li>
						<li class="nav-item"><a class="nav-link" href="#">CLASS</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> COURSE</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">
								ENROLLMENT</a></li>
						<li class="nav-item"><a class="nav-link" href="/feedback">
								FEEDBACK</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> RESULT</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/question">
								QUESTION</a></li>
						<li class="nav-item"><a class="nav-link" href="#">
								CONTACT</a></li>
					</ul>
				</nav>
			</div>
			<div>
				<nav style="background-color: darkorange">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link" href="#">YOURNAME</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">LOGOUT</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</body>
</html>