	<footer  xmlns:th="http://www.thymeleaf.org">
        <div class="grid">
            <div>
                <p>We are ready for challenge</p>
                <p>vnhung1903@gmail.com</p>
            </div>
            <div>
                <p>Công viên phần mềm quang Trung</p>
                <p>+84776629411</p>
            </div>
            <div>
                <p>We are always looking for talent</p>
                <p>vinhndps08838@gmail.com</p>
            </div>
            <div></div>
            <div class="footer-icon">
                <i class="fa fa-twitter" style="padding:10px;font-size:20px;color:white"></i>
                <i class="fa fa-facebook-f" style="padding:10px;font-size:20px;color:white"></i>
                <i class="fa fa-google-plus" style="padding:10px;font-size:20px;color:white"></i>
            </div>
        </div>
    </footer>