<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../../css/css.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="../../../css/cssAss.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	 <th:block th:include="/../common/_header"></th:block>
	<article style="padding: 15px;">
		<form th:object="${ass}" th:action="@{saveupdate}" method="post">
			<div style="width: 350px; margin: auto; margin: auto;">

				<h3>Edit Assignment</h3>
				<div class="form-group">
					<label>Class ID</label><br> <input type="text" name="ClassID"
						th:field="*{ClassID.ClassID}" class="form-control" required
						readonly>
				</div>
				<div class="form-group">
					<label>Class Name</label><br> <input type="text"
						name="ClassName" th:field="*{ClassID.ClassName}"
						class="form-control" required readonly>
				</div>
				<div class="form-group">
					<label>Module ID</label><br> <input type="text"
						name="CourseID" th:field="*{ModuleID.ModuleID}"
						class="form-control" required readonly>
				</div>
				<div class="form-group">
					<label>Module Name</label><br> <input type="text"
						name="CourseName" th:field="*{ModuleID.ModuleName}"
						class="form-control" required readonly>
				</div>
			
				<div class="form-group">
					<label>Trainer ID</label><br> <select class="form-control"
						onchange="selected(this)" id="choise" th:field="*{trainerID}">
						<option value="" id="product" var="menu"
							th:each="trainer : ${trainer}" th:value="${trainer.username}"
							th:text="${trainer.username}"></option>

					</select>
					 <input type="hidden" id='trainerIDNew' name="trainerIDNew" th:value="*{TrainerID.username}" />
					 <input
						type="hidden" id='trainerIDol' name="trainerIDol"
						th:value="*{TrainerID.username}" /> 
						<input type="hidden"
						id='ClassID' name="ClassID" th:value="*{ClassID.ClassID}" />
						 <input
						type="hidden" id='ModuleID' name="ModuleID"
						th:value="*{ModuleID.moduleID}" />
				</div>

				<div class="form-group">
					<input type="hidden" th:field="*{RegistrationCode}"
						class="form-control">
				</div>

				<div class="form-group">
					<a href="/admin/Assignment/" class="btn btn-default"
						style="background-color: darkorange; color: white; font-size: 19px">Back
					</a>
					<button type="submit" class="btn btn-default"
						style="background-color: darkorange; color: white; font-size: 19px">Save
					</button>
				</div>
			</div>
		
		<div id="myMosdal" class="modal fade">
					<div class="modal-dialog modal-confirm">
						<div class="modal-content">
							<div class="modal-header flex-column">
								<div class="icon-box">
									<i class="material-icons">&#xE876;</i>
								</div>
								<h4 class="modal-title w-100"
									th:text="#{message.updatAssignment.title}"></h4>
								<div class="modal-footer justify-content-center">
									<a href="/admin/Assignment/" class="btn btn-success btn-block"
										th:text="#{message.savequestion.footer}"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="myModal1" class="modal fade">
				<div class="modal-dialog modal-confirm">
					<div class="modal-content">
						<div class="modal-header flex-column">
						<div style="margin-left: 89px;">
		     				<img width="50%" src="https://www.flaticon.com/svg/static/icons/svg/972/972545.svg">
		     			</div>

							<h4 class="modal-title w-100"
								th:text="#{message.AddAssignment.title}"></h4>
							<div class="modal-footer justify-content-center">
								<a  th:href="@{/admin/Assignment/edit?(ModuleID=${ass.ModuleID.ModuleID},ClassID=${ass.ClassID.ClassID},TrainerID=${ass.TrainerID.username})}" class="btn btn-success btn-block"
									th:text="#{message.savequestion.footer}"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</article>
	 <th:block th:include="/../common/_footer"></th:block>    

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:if="${successok}">
		$('#myMosdal').modal('show')
	</script>
	 <script type="text/javascript" th:if="${successfail}">
		$('#myModal1').modal('show')
	</script>
	<script>
		function selected(obj) {
			var options = obj.children;
			dem = 1;
			for (var i = 0; i < options.length; i++) {
				if (options[i].selected) {
					products = options[i].value;
					console.log(products)
					$('#trainerIDNew').val(products);
				}
			}
		}
	</script>
</body>
</html>